@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

*{margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
}
body{
    background-image: url(photo/R\ \(1\).jpg);
    background-position: center center;
    background-size: cover;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*::selection{
    background-color: #ac3838 ;
    color: #fff;
}
html::-webkit-scrollbar-thumb{
    background-color: #000000;
    height: 25%;
    width: 25%;
    transition: background-color 0.5s linear;
  
  }
  
  html::-webkit-scrollbar-thumb:hover{
    background-color: #0e010c;
    transition: background-color 0.5s linear;
  }
  
  html::-webkit-scrollbar-track{
    background-color: #ffffff;
  }
  html::-webkit-scrollbar{
    width: 12px;
   
  }
.nav-color{
    color: #fff4f4 !important;
transition: color 0.5s ease-in-out;
}
.nav-color:hover{
    color: #b8b8b8 !important;
}
.nav-linkcolor{
    color: #ffffff !important;
    transition: color 0.5s ease-in-out , margin-left 0.5s ease-in-out;
}
.nav-linkcolor:hover{
    color: #ff0000 !important;
    margin-left: 5px;
}
.fixed-top.scrolled{
    background-color:#1a1110 !important;
    transition:background-color 0.5s linear;
}
.active{
    color: #ffffff !important;
    margin-left: 5px;
}
.header-top{
    padding-top: 8pc;
    height: 100vh;
}
.bg-top{

  background-color: rgba(0, 0, 0, 0.681);
}

.img-padding{
  padding-top: 8rem;
}


.text-container {
  background-color: #1a1110;
  color: rgb(255, 255, 255);
  padding: 20px; 
  width: 100%;
  box-sizing: border-box; 
  text-align: center; 
}
.table{
  color: #fff;
}

.video-container {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 56.25%;
  margin: auto;
}
.video-container iframe {
  position: absolute;
  top: 7%;
  left: 9%;
  width: 80%;
  height: 60%;
  border: 15px solid #1a1110;
  border-radius: 12px;
}

.info h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.info p{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img-logo{
    max-width: 5%;
    height: auto;
  
  }

  @media only screen and (max-width:768px){
    .img-logo{
      max-width: 10%;
      height: auto;
    
    }
    
}
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: black;
  background-image: linear-gradient(to top, #0e0b0c 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-text-fill-color: yellowgreen;
  -moz-text-fill-color: rgb(19, 19, 17);
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}
